@page
@model RecipesFinalProjectController.Pages.MyFavoritesModel
@{
    ViewData["Title"] = "My Favorites";
}

<h2 class="page-title">My Favorite Recipes</h2>

@if (Model.Favorites.Any())
{
    <div class="row">
        @foreach (var recipe in Model.Favorites)
        {
            <div class="col-md-4 mb-4">
                <partial name="_RecipeCard" model="recipe" />
            </div>
        }
    </div>
}
else
{
    <div class="empty-state">
        You have no favorite recipes yet.
    </div>
}