@page
@model RecipesFinalProjectController.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<h3>@ViewData["Title"]</h3>

<p>Hello @Model.User.FirstName @Model.User.LastName</p>

<a asp-page="/Logout">Logout</a>
